
@import "./global/global.css";
@import "./global/header.css";

@import "./home/introducao.css";

@import "./global/utilidades/componentes.css";
@import "./global/utilidades/tipografia.css";
@import "./global/utilidades/cores.css";

@import "./bicicletas/bicicletas-lista.css";

@import "./home/tecnologia.css";



