/* Bicicleta */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/loja.css";

/* Global */
@import "./global/footer.css";
@import "./global/global.css";
@import "./global/header.css";

/* Home */
@import "./home/depoimento.css";
@import "./home/introducao.css";
@import "./home/parceiros.css";
@import "./home/tecnologia.css";

/* Orcamento */
@import "./orcamento/orcamento.css";

/* Seguros */
@import "./seguros/perguntas.css";
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";

/* Termos */
@import "./termos/termos.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/cores.css";
@import "./utilidades/formulario.css";
@import "./utilidades/tipografia.css";





