.header{
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header-bg{
  background-color: black;
}

.header-menu{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:0;
}

.header-menu a{
  color: white;
  padding: 16px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a:after {
  content:"";
  display:block;
  height:2px;
  width: 0px; 
  background: white;
  margin-top: 4px;
  transition: 0.2s;
  position: absolute;
}

.header-menu a:hover:after {
  width:100%;
}

@media(max-width:800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a {
    padding: 12px 16px;
    border-radius:4px;
  }
  .header-menu a:hover {
    background-color:rgb(44, 44, 44);
  }
  .header a:after{
    display:none;
  }
}

@media(max-width:600px){
  .header-menu{
    gap:12px;
  }
  .header-menu a {
    padding: 8xp 12px;
    font-size:14px;
  }
}