.tecnologia-bg{
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 120px var(--cor-0);
}

.tecnologia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo{
  padding-top:160px;
}